<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>왜 안됨?</title>
</head>

<body>

    <h2>
        진강민! <br>
    </h2>
    <form th:action="@{/upload}" method="post"
    enctype="multipart/form-data" class="col m8 s12 offset-m2">
     
    <div class="input-field col s6">
        <input multiple="multiple" type="file" name="files"/>
    </div>
     
    <div class="input-field col s6">
        <button class="btn indigo waves-effect waves-light"
            type="submit" name="save">
             
            Submit<i class="mdi-content-send right"></i>
        </button>
    </div>
</form>
</body>
<style>
    h2 {
        color: red; /*#FF0000;*/
    }    
</style>

</html>