<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>홈페이지 메인</title>
</head>

<body>

<h2>
    메인화면 <br>
</h2>
<a href="/upload">파일 업로드하기</a> <br/>
<a href="/download">파일 다운로드</a>
</body>
<style>
    h2 {
        color: red;
    }    

</style>

</html>